LM/XML/XML-Esquema/AduanaXMLSchema.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="tipoAduana">
		<xs:sequence>
			<xs:element name="paisOrigen" type="xs:string"/>
			<xs:element name="valorDeclarado" type="xs:decimal"/>
			<xs:element name="tipoContenido" type="xs:string"/>
			<xs:element name="fechaEnvio" type="xs:date"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="aduana" type="tipoAduana">
	</xs:element>

</xs:schema>