LM/XML/XML-Esquema/HeladoXMLSchema.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="typeHelado">
	
		<xs:sequence>
			<xs:element name="sabor">
			
				<xs:simpleType>
					 <xs:restriction base="xs:string">
					 
					 	<xs:enumeration value="chocolate"/>
						<xs:enumeration value="fresa"/>
						
					</xs:restriction>
				</xs:simpleType>
				
			</xs:element>
			
			<xs:element name="envase">
			
				<xs:simpleType>
					 <xs:restriction base="xs:string">
					 
					 	<xs:enumeration value="cono"/>
						<xs:enumeration value="tarrina"/>
						
					</xs:restriction>
				</xs:simpleType>
				
			</xs:element>
		</xs:sequence>
		
	</xs:complexType>
	
	<xs:element name="helado" type="typeHelado">
	</xs:element>

</xs:schema>