LM/XML/XML-Esquema/JuguetesXMLSchema.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="Juguete">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Nombre" type="xs:string"/>
      <xs:element name="Marca" type="xs:string"/>
      <xs:element name="Precio" type="xs:decimal"/>
      <xs:element name="Categoria" type="xs:string"/>
	  <xs:element name="EdadMininma" type="xs:byte"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>