LM/XML/XML-Esquema/PanelesAutopistaXMLSchema.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="tipo_paneles">
		<xs:sequence>
			<xs:element name="to" type="xs:string"/>
			<xs:element name="from" type="xs:string"/>
			<xs:element name="heading" type="xs:string"/>
			<xs:element name="body" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="paneles" type="evento">
	</xs:element>
	
	<xs:complexType name="evento">
		<xs:sequence>
			<xs:element name="evento" type="tipo_evento" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>